#extratoCliente {
    list-style: none;
    align-items: center;
    flex-direction: column;
    padding: 0;
    max-width: 100%;
    margin: auto;
    
}

.operacao-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 30pt;
}
.operacao-card{
    color: #333;
    font-size:large;
}
.operacao-card p {
    font-size: 14px;
    color: #333;
    margin: 0;
}


.credito {
    border-left: 5px solid #4CAF50;
}

.debito {
    border-left: 5px solid #F44336;
}

.operacao-tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
}

.operacao-tabela thead {
    background-color: #0099ff;
}

.operacao-tabela th,
.operacao-tabela td {
    padding: 10px;
}
.operacao-tabela td {
    border: 1px solid #000000;
}

.operacao-tabela tr.credito {
    border-left: 5px solid #4CAF50;
}

.operacao-tabela tr.debito {
    border-left: 5px solid #F44336;
}

#search{
    display: none;
}