.produto-detalhes {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.produto-detalhes-revendedor {
    width: 100px;
    display: block;
}

.descontoDe {
    display: none;
}

.promo {
    position: relative;
    border: 2px solid red;
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.8);
    overflow: hidden;

    .descontoDe {
        display: block;

        top: 0;
        left: 0;
        text-decoration: line-through;
        color: red;
        padding: 5px;
        font-size: 16px;
        transform-origin: 0 0;
    }
}

.produto-imagem {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}


.produto-info {
    max-width: 550px;

    display: flex;
    flex-direction: column;

    gap: 10px;

}

.produto-info h2 {
    font-size: 26px;

    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: left;

}

.produto-info p {
    font-size: 16px;

    color: #555;

    margin-bottom: 10px;
}

.produto-info p strong {
    color: #007bff;

}

.produto-info label {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    display: block;
}

.produto-info input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.produto-info button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produto-info button:hover {
    background-color: #0056b3;
}

.produto-imagem-revendedor {
    width: 10px;
    height: 10px;
}