form#formPC {
    
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-wrapper {
    display: flex;
    gap: 30px;
}



.form-info h6 {
    font-size: 24px;
    margin-bottom: 20px;
}

.img-gabinete {
    width: 100%;
    
    border-radius: 10px;
}

.form-fields {
    flex: 2;
    min-width: 300px;
}

.form-fields label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.form-fields select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 7px;
}

.observacoes-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 85%;
}

#observacoes {
    width: 100%;
    padding: 10px;
    border: 1px red solid;
    border-radius: 5px;
    resize: vertical;
    height: 60px;
    border-bottom: 20px;
    
}

.observacoes-wrapper {
    margin-top: 20px;
}

.observacoes-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

#observacoes {
    width: 100%;
    padding: 10px;
    border: 1px red solid;
    border-radius: 5px;
    resize: vertical;
    height: 60px;
    margin-bottom: 10px;
}

.botao-wrapper {
    display: flex;
    justify-content: flex-end;
}

#montar-equipamento {
   
    border-radius: 50px;
    cursor: pointer;
    width: 50%;
    padding: 10px;
}