.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

span,p,h4{
    color: #007bff;
}
li{
    color: #f9f9f9;
}
.lista-container {
    flex: 1;
}

.form-container {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.info-group {
    margin-bottom: 15px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}
