ul {
    list-style: none;
    padding: 0;
}

.card {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    grid-column: span 2;
    text-align: center;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

strong {
    color: #333;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ff4d4d;
    color: white;
}

.cancel-btn:hover {
    background-color: #cc0000;
}

.pay-btn {
    background-color: #007bff;
    color: white;
}

.pay-btn:hover {
    background-color: #0056b3;
}


/* Responsivo */
@media (max-width: 600px) {
    .card-body {
        grid-template-columns: 1fr;
    }
}


#search {
    display: none;
}