/* style.css */

/* Fonts */
@import url("/src/styles/fonts.css");


/* Geral */
* {
  margin: 0;
  padding: 0;
  /* border: red 1px solid; */
}

/* Chrome, Edge, Safari */


body {
  overflow-x: hidden;
}

/* Firefox */
body {
  scrollbar-width: thin;
  /* thin | auto | none */
  scrollbar-color: #FFF #004AAD;
  /* thumb | track */
}

/* Tema escuro */
body.dark-mode {
  background-color: #004AAD;
  color: #FFF;

  .formContainer {
    color: #007bff;
  }

  .carrinho-vazio-texto,
  .opcoes-perfil {
    color: #FFF;
  }

  .pedidos,
  .card-title {
    color: #004AAD;
  }
}

/* Tema claro */
body.light-mode {

  background-color: #FFF;
  color: #004AAD;

  header i.bx.bx-user,
  i.bx.bxs-user-circle,
  i.bx.bxs-exit {
    border: 1px #004AAD solid;
  }

  #itens_carrinho li,
  .opcoes-perfil {
    color: #FFF;
  }

  .carrinho-vazio-texto {
    color: #004AAD;
  }

  #cards ul a {
    background-color: #004AAD;

    i {
      color: #FFF;
    }
  }

  ul#lista_produtos li {
    border: #004AAD 1px solid;
    border-radius: 10px;
  }

}


a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

/* Main e Footer */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5vh;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

footer span {
  margin-bottom: 10px;
}

.portifolio {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.portifolio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00f7ff;
  transition: width 0.4s ease;
}

.portifolio:hover::after {
  width: 100%;
}

/* Formulário */
.container {
  width: 65%;
  height: 100%;
  margin: 70px auto;
  padding: 20px;
  border-radius: 8px;
  display: block;

  li {
    list-style: none;
  }
}

h2 {
  text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 16px;
  margin-bottom: 5px;
}

button[type="submit"] {
  border-radius: 50px;
  background-color: #2ec050;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #09a32d;
}

button:hover {
  background-color: #0056b3;
}

#recuperar {
  display: block;
  width: 100%;
  word-break: break-all;
  border-radius: 10px;
  text-align: center;
}

/*Login formLogin formLoginAdmin*/
#formLogin,
#formLoginAdmin,
#formLoginRevendedor {
  display: flex;
  align-items: center;
  width: 100%;


  label {
    display: block;
    width: 50%;
  }

  input {
    width: 50%;
  }

  select {
    margin-top: 10px;
    width: 25%;
  }

  #submitButton {
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 25%;
    height: 50px;
  }

}

table {
  margin-top: 20px;
  width: 97%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  vertical-align: top;
  padding: 15px;
  box-sizing: border-box;
}

td:first-child,
td:last-child {
  height: 100%;
}

label {
  margin-top: 10px;

}

input {
  padding: 10px;
  border: 1px solid #99ccff;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #0066cc;
}

input:invalid {
  border-color: #ccc;
}

input:valid {
  border-color: green;
}

button#btnCep {
  margin-top: 42px;
  margin-bottom: 20px;
  border: 1px solid #99ccff;
}

#label-estado {
  margin-top: 15px;
}

.label-estado-atualizar {
  margin-top: -5px;
}

#formCadastroCliente h3 {
  padding: 15px;
  border-radius: 10px;
  background-color: #004aad;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: -10px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

}

#formCadastroCliente>.btn_logar,
a.btn_logar {
  margin-top: 10px;
  width: 50%;
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  left: 0;
  padding: 10px;
  text-align: center;
  background-color: #2ec050;
  border-radius: 50px;
}

#formCadastroCliente>.btn_logar {

  width: 25%;
  margin-top: -20px;
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  text-align: center;
  background-color: #2ec050;
  border-radius: 50px;
  margin-left: 10px;

  margin-right: auto;

}

.btn_logar:hover {
  background-color: #09a32d;
}

#responseMessage {
  margin-top: 15px;
  text-align: center;
  color: #d9534f;
}

.error-message-container {
  min-height: 30px;

  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

input[type="date"],
input[type="text"],
input[type="email"] {
  font-size: 14px;
}

input[disabled] {
  background-color: #f0f0f0;
}

/* Ajustando o tamanho do botão Consultar CEP */
#btnCep {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #99ccff;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 105%;
  transition: background-color 0.3s ease;
}

#btnCep:hover {
  background-color: #0056b3;

}

#btnCep:focus {
  outline: none;

  border-color: #0066cc;

}

.container-confirmacao {
  color: #0056b3;
}


.btncadastrarProdutos {
  margin-top: 20px;
  padding: 10px;
  display: block;
  text-align: center;
  background-color: #2ec050;
  border-radius: 50px;
  width: 50%;
  margin-left: 25%;
}

a.cadastrar-pessoa {
  color: white;
  border: 1px #004AAD solid;
  border-radius: 50px;
  padding: 7px;
}

a.cadastrar-pessoa:hover {
  color: white;
  background-color: #004AAD;
}

a.cadastrar-pessoa:visited {
  color: white;
}

.loader {
  display: none;
  z-index: 2;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 74, 173, 0.4);

  img {
    width: 100px;
  }

}

#cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  i {
    position: absolute;
    font-size: 150pt;
    color: #004AAD;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;

  }

  a {
    background-color: #FFF;
    width: 200px;
    height: 200px;
    list-style-type: none;
    padding: 12px;
    margin: 12px;
    margin-bottom: 30px;
    border-radius: 8px;
  }

  li {
    margin-top: 215px;
    margin-bottom: 10px;
    text-align: center;
    word-wrap: break-word;
    font-weight: bolder;
  }
}

select {
  display: block;
  width: 100%;
}


h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 40pt;
}

.texto_envio_email {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20pt;
  color: inherit;
  margin-bottom: 20px;
}

textarea#enviar_email {
  height: 150px;
  width: 100%;
}

textarea::placeholder {
  padding: 10px;

}

textarea {
  padding: 10px;
}

.esquecer-cadastrar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  div#recuperar {
    display: block;
    width: 100%;
  }

  .btn_cadastrar {
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #2ec050;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
  }
}

#lista_de_cupons {
  p {
    text-align: center;

  }
}

select#tipo {
  width: 50%;
}

#formCadastroCliente table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 20px;
}

#formCadastroCliente td {
  vertical-align: top;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

#formCadastroCliente label,
#formCadastroCliente input,
#formCadastroCliente button,
#formCadastroPessoaJuridica label,
#formAtualizacaoCliente label,
#formCadastroAdmin label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#formCadastroAdmin .btn_logar {
  margin-top: 20px;
}

td>h3 {
  margin-top: 10px;
}

.btn-cadastrar-pessoa-juridica {
  margin-top: 40px;

}

ol>p,
ul#listaDePedidos>p {
  text-align: center;
}

.btn_cadastrar_admin {
  margin: 10px auto;
  width: 50%;
  display: flex;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background-color: #2ec050;
  border-radius: 50px;
}

#extratoCliente>p {
  text-align: center;
}

.container-no-menu {
  margin-top: 0px;
}

#formCadastroAdminAtualizar {
  button#btnCep {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

#formCadastroCliente {
  #submitButton {
    margin-left: -5px;
    width: 101%;
  }
}

.carrossel-1x1-container{
  display: none;
}