/* Geral */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #004AAD;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
}

/* Header */
header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo-search{
  
  display: flex;
  width: 50%;
}
h1 {
  width: 200px;
  white-space: nowrap;
}

/* Campo de busca */
div#search {
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-radius: 50px;
  width: 50%;
  height: 35px;
  padding: 0 10px;
}

div#search input {
  flex: 1;
  border: none;
  border-radius: 50px;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
}

div#search input::placeholder {
  color: #999;
}

header div#search i.bx-search-alt-2 {
  color: #006dfa;
  margin-left: 10px;
  font-size: 20px;
}
.icones{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -80px;
}
.icones i{
  padding-right: 20px;
  margin: 15px;
  scale: 3;
}
header i.bx.bx-user, i.bx.bxs-user-circle {
  border-radius: 100px;
  border: 1px #FFF solid;
  padding: 1px;
}

/* Main e Footer */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
}

footer {
  height: 5vh;
  text-align: center;
  display: block;
  bottom: 0;
  width: 100%;
}

/* Formulário */
.container {
  width: 50%;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #15B0F8;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: block;
}
.fromcadastro{
  height: 100%;
  display: block;
}
h2 {
  text-align: center;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
}

/*Login formLogin*/
#formLogin{
  #submitButton{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 45%;
    width: 100px;
    height: 50px;
  }
  input{
    width: 98%;
  }
}

table {
  margin-top: 20px;
  width: 97%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding: 15px;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}

td:first-child, td:last-child {
  height: 100%;
}

label {
  margin-top: 10px;
  color: #000000;
}

input {
  padding: 10px;
  border: 1px solid #99ccff;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #0066cc;
}

input:invalid {
  border-color: #ccc;
}

input:valid {
  border-color: green;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 16px;
  margin-bottom: 5px;
}
h3{
  color: #000000;
  margin-top: 20px;
  margin-left: 25%;
  align-items: center;
}
button[type="submit"]{
  border-radius: 50px;
  background-color: #2ec050;
  margin-left: 10px;
}
button[type="submit"]:hover{
  background-color: #09a32d;
}
button:hover {
  background-color: #0056b3;
}

#responseMessage {
  margin-top: 15px;
  text-align: center;
  color: #d9534f;
}

/* Espaço fixo para mensagens de erro */
.error-message-container {
  min-height: 30px;  /* Define a altura mínima para o espaço das mensagens */
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Mensagem de sucesso ou erro */
#messageBox {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#messageBox.success {
  background-color: #d4edda;
  color: #155724;
} 

#messageBox.error {
  background-color: #f8d7da;
  color: #721c24;
}

input[type="date"], input[type="text"], input[type="email"] {
  font-size: 14px;
}

input[disabled] {
  background-color: #f0f0f0;
}

/* Ajustando o tamanho do botão Consultar CEP */
#btnCep {
  height: 35px; 
  padding: 0 10px; 
  font-size: 14px; 
  border: 1px solid #99ccff; 
  border-radius: 50px; 
  background-color: #007bff;
  color: #fff;
  cursor: pointer; 
  width: 105%; 
  transition: background-color 0.3s ease;
}

#btnCep:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

#btnCep:focus {
  outline: none; /* Remove o contorno padrão */
  border-color: #0066cc; /* Cor da borda ao focar */
}

.container-confirmacao{
  color: #0056b3;
}

.btn_logar{
  margin-top: 20px;
  padding: 10px;
  display: block;
  text-align: center;
  background-color: #2ec050;
  border-radius: 50px;
  width: 50%;
  margin-left: 25%;
}

.loader{
  display: none;
  z-index: 2;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 74, 173, 0.4);
  img {
    width: 100px;
}
  
}

.opcoes, .destaques{
  width: 25%;
  
  height: 50vh;
}
#opcoes_perfil{
  border: 1px #999 solid;/*  */
  background-color: #002752;
  display: none;
  width: 80%;
  margin: auto;
  li{
    list-style-type: none;
    text-align: end;
    padding: 10px;
    font-size: 15pt;
  }
  a:hover{
    cursor: pointer;
    
    background-color: #007bff;
    color: #FFF;
  }
}
#itens_carrinho{
  border: 1px #999 solid;/*  */
  background-color: #002752;
  display: none;
  width: 80%;
  margin: auto;
  li{
    list-style-type: none;
    text-align: end;
    padding: 10px;
    font-size: 15pt;
  }
  a:hover{
    cursor: pointer;
    
    background-color: #007bff;
    color: #FFF;
  }
}