@font-face {
  font-family: 'boxicons';
  src: url('https://unpkg.com/boxicons@2.1.4/fonts/boxicons.woff2') format('woff2');
  font-display: swap;
}


/* Geral */
* {
  margin: 0;
  padding: 0;
}

/* Tema claro */
body.light-mode {
  background-color: #004AAD;
  color: #FFF;
}

/* Tema escuro */
body.dark-mode {
  background-color: #FFF;
  color: #004AAD;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}


body::-webkit-scrollbar {
  display: none;
}




/* Main e Footer */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
}

footer {
  height: 5vh;
  text-align: center;
  display: block;
  bottom: 0;
  width: 100%;
}

/* Formulário */
.container {
  width: 65%;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #15B0F8;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: block;

  li {
    list-style: none;
  }
}

.fromcadastro {
  height: 100%;
  display: block;
}

h2 {
  text-align: center;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Login formLogin formLoginAdmin*/
#formLogin,
#formLoginAdmin {
  label {
    display: block;
    width: 100%;
  }

  input {
    width: 96%;
  }

  #submitButton {
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 25%;
    height: 50px;
  }

}

table {
  margin-top: 20px;
  width: 97%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding: 15px;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}

td:first-child,
td:last-child {
  height: 100%;
}

label {
  margin-top: 10px;
  color: #000000;
}

input {
  padding: 10px;
  border: 1px solid #99ccff;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #0066cc;
}

input:invalid {
  border-color: #ccc;
}

input:valid {
  border-color: green;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 16px;
  margin-bottom: 5px;
}

h3 {
  color: #000000;
  margin-top: 20px;

  align-items: center;
}

button[type="submit"] {
  border-radius: 50px;
  background-color: #2ec050;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #09a32d;
}

button:hover {
  background-color: #0056b3;
}

#responseMessage {
  margin-top: 15px;
  text-align: center;
  color: #d9534f;
}

.error-message-container {
  min-height: 30px;

  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Mensagem de sucesso ou erro */
#messageBox {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#messageBox.success {
  background-color: #d4edda;
  color: #155724;
}

#messageBox.error {
  background-color: #f8d7da;
  color: #721c24;
}

input[type="date"],
input[type="text"],
input[type="email"] {
  font-size: 14px;
}

input[disabled] {
  background-color: #f0f0f0;
}

/* Ajustando o tamanho do botão Consultar CEP */
#btnCep {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #99ccff;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 105%;
  transition: background-color 0.3s ease;
}

#btnCep:hover {
  background-color: #0056b3;

}

#btnCep:focus {
  outline: none;

  border-color: #0066cc;

}

.container-confirmacao {
  color: #0056b3;
}

.btn_logar,
.btncadastrarProdutos {
  margin-top: 20px;
  padding: 10px;
  display: block;
  text-align: center;
  background-color: #2ec050;
  border-radius: 50px;
  width: 50%;
  margin-left: 25%;
}

a.cadastrar-pessoa {
  color: white;
  border: 1px #004AAD solid;
  border-radius: 50px;
  padding: 7px;
}

a.cadastrar-pessoa:hover {
  color: white;
  background-color: #004AAD;
}

a.cadastrar-pessoa:visited {
  color: white;
}

.loader {
  display: none;
  z-index: 2;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 74, 173, 0.4);

  img {
    width: 100px;
  }

}

#cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;


  i {
    position: absolute;
    font-size: 150pt;
    color: #004AAD;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;

  }

  a {
    background-color: #FFF;
    width: 200px;
    height: 200px;
    list-style-type: none;
    padding: 12px;
    margin: 12px;
    margin-bottom: 30px;
  }

  li {
    margin-top: 215px;

    text-align: center;
  }
}

select {
  display: block;
  width: 100%;
}