*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px;
}
form label{
    padding: 10px; 
}
form input{
    padding: 10px;
    border-radius: 10px;
}
li{
    padding: 10px;
}